@import '../base/variables';

$menu_item-width: 11rem;

.dropdown {
  display: none;
  position: relative;
  // padding: 0.25rem 0.5rem;
  width: $menu_item-width;
  background-color: #3d414e;
  position: absolute;

  &-sub_menu {
    z-index: 1;
    top: 0;
    left: $menu_item-width;
  }

  &-item {
    position: relative;
    height: 2.25rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    text-transform: uppercase;
    font-weight: normal;

    &.is-parent {
      &:after {
        // border: 4px solid transparent;
        // border-top-color: transparent;
        // border-top-color: #999;
        content: url(../../assets/logos/chevron-down.svg);
        display: block;
        position: absolute;
        right: 0;
        transform: rotate(270deg);
        // margin-top: -3px;
        // position: absolute;
        // right: 10px;
        // top: 50%;
      }
    }
  }

  &.is-shown {
    display: block;
  }
}
