.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #eeeeef;
}

/*
 * Shared between both ParallaxHero and ParallaxContent
*/
.parallax-group {
  position: relative;
  transform-style: preserve-3d;
}
