/*
 * FONTS 
*/
$header-font: 'Alata', 'Helvetica Neue', Helvetica, sans-serif;
$body-font: 'Lato', Arial, sans-serif;

/*
 * COLORS 
*/
$basic-darkest: #000;
$basic-dark: #282c34;
$basic-medium-light: #858c98;
$basic-bright: #b0b0b0;
$basic-brighter: #eeeeef;
$basic-brightest: #fff;

$background-medium-light: #e4e6ea;

/*
 * SCREEN SIZES
*/
$screen-size-xxl: 1689px;
$screen-size-xl: 1200px;
$screen-size-l: 992px;
$screen-size-m: 768px;
$screen-size-s: 576px;

/*
 * FONT SIZES
*/

$heading-xl: 1rem; // WIP

/*
 * HEIGHTS
*/

$header-height: 2.8rem;
