/*
 * FONTS 
*/
$header-font: 'Alata', 'Helvetica Neue', Helvetica, sans-serif;
$body-font: 'Lato', Arial, sans-serif;

/*
 * COLORS 
*/
$primary-dark: #282c34;

/*
 * SCREEN SIZES
*/
$screen-size-xxl: 1689px;
$screen-size-xl: 1200px;
$screen-size-l: 992px;
$screen-size-m: 768px;
$screen-size-s: 576px;
